@import url('./reset.css');

:root {
    font-size: 16px;
    --main-color: white;
}

.bg {
    background-image: url('./images/Roses-iPhone-Wallpaper-Collection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.568);
    padding: 20px;
    padding-top: 8%;
    color: var(--main-color);
    backdrop-filter: blur(15px);
    font-family: sans-serif;
}

.login-form .input {
    border: 2px solid rgba(255, 255, 255, 0.568);
    border-radius: 8px;
    height: 1.7rem;
    background-color: transparent;
    position: relative;
}

.login-form::before,
.login-form::after {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: '';
    right: 3.2vw;
}

.login-form::before {
    top: 30.5vh;
    background-image: url('./images/account-outline.png');
}

.login-form::after {
    top: 38.7vh;
    background-image: url('./images/eye-off-outline.png');
}

.login-form .input::placeholder {
    color: var(--main-color);
    padding-left: 5%;
}

.login-form * {
    margin: 10px;
}

.center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

.login-form input[type="checkbox"] {
    appearance: none;
    margin: 0;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 0%;
    position: relative;
    background: linear-gradient(312deg, rgba(245, 162, 67, 1) 0%, rgba(238, 111, 193, 0.8382703423166141) 100%);
}

.login-form input[type="checkbox"]:checked::after {
    content: "\1F5F8";
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.dawn {
    margin-top: auto;
}

.login-header {
    font-size: 1.5rem;
    font-weight: 600;
}

.text {
    font-size: 0.8rem;
}

.logbut {
    background: linear-gradient(312deg, rgba(245, 162, 67, 1) 0%, rgba(238, 111, 193, 0.8382703423166141) 100%);
    border: none;
    border-radius: 5px;
    line-height: 2rem;
    color: var(--main-color);
    font-weight: 600;
}

a:last-child {
    font-weight: 600;
    margin-left: 5px;
}

.check-text {
    margin: 0;
    margin-left: 10px;
}