@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@font-face {
    font-family: "Ms_Madi";
    src: url("./settings/Fonts/Ms_Madi/MsMadi-Regular.ttf") format("truetipe");
}

h2 {
    font-family: "Ms_Madi", cursive;
}
